-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."employees" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "gender" TEXT NOT NULL,
    "date_of_birth" DATE NOT NULL,
    "email" VARCHAR(255),
    "phone" VARCHAR(50),
    "position" TEXT,

    CONSTRAINT "employees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."schedules" (
    "id" SERIAL NOT NULL,
    "employee_name" TEXT NOT NULL,
    "store_name" TEXT NOT NULL,
    "shift_name" TEXT NOT NULL,
    "start_time" TIME(6) NOT NULL,
    "end_time" TIME(6) NOT NULL,
    "schedule_date" DATE NOT NULL,

    CONSTRAINT "schedules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."shifts" (
    "id" SERIAL NOT NULL,
    "shift_name" TEXT NOT NULL,
    "start_time" TIME(6) NOT NULL,
    "end_time" TIME(6) NOT NULL,
    "remarks" TEXT,

    CONSTRAINT "shifts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."unavailabilities" (
    "id" SERIAL NOT NULL,
    "employee_name" TEXT NOT NULL,
    "start_date" DATE NOT NULL,
    "end_date" DATE NOT NULL,
    "remarks" TEXT,

    CONSTRAINT "unavailabilities_pkey" PRIMARY KEY ("id")
);

CREATE TABLE "public"."open_shift_requests" (
    "id" SERIAL NOT NULL,
    "schedule_id" INTEGER NOT NULL,
    "requester_employee_id" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "remarks" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "open_shift_requests_pkey" PRIMARY KEY ("id")
);

ALTER TABLE "public"."open_shift_requests" ADD CONSTRAINT "open_shift_requests_schedule_id_fkey" FOREIGN KEY ("schedule_id") REFERENCES "public"."schedules"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

ALTER TABLE "public"."open_shift_requests" ADD CONSTRAINT "open_shift_requests_requester_employee_id_fkey" FOREIGN KEY ("requester_employee_id") REFERENCES "public"."employees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

